/node_modules
/storage
/vendor
/.idea
yarn-error.log
.env
/.phpstorm.meta.php
/_ide_helper.php
/composer.lock
/yarn.lock
/public
/bootstrap/cache/
/package-lock.json
/resources/emails/tmp
/resources/emails/views
/_archive/
/database/files/data/img/
