// Background colors
%bg-red,
%bg-yellow,
%bg-aqua,
%bg-green
 {
  color: #fff !important;
}

%bg-red {
  background-color: $red !important;
}

%bg-yellow {
  background-color: darken($yellow, 5%) !important;
}

%bg-aqua {
  background-color: darken($aqua, 5%) !important;
}

%bg-green {
  background-color: $green !important;
}