#app_backend_wrapper {
  .content-header {
    min-height: 70px;
  }
}

#backend .swal2-popup.swal2-toast {
  padding: 1.5em;
}

#group_members_list > .card, .list-group-item {
  .button-list-close {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
    float: right;
    padding: 1rem 0 0 0;
    margin: 0;
  }

  .button-list-close:before, .button-list-close:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #5dc282;

    height: 2px;
    margin-top: -1px;
  }

  .button-list-close:before {
    transform: rotate(45deg);
  }

  .button-list-close:after {
    transform: rotate(-45deg);
  }
}

#filters_list {
  .btn {
    white-space: normal;
  }

  .button-list-close {
    font-size: 1.4em;
    padding-left: 1rem;
    color: #003cc2;
  }
}

#group_members_list > .card, .list-group-item {
  p {
    padding: 1rem 0 0 0;
  }
}

#member_edit_preview {
  margin-top: 1.5rem;
  clear: both;
}