body {
  background-color: $body-bg;
}

.font-light {
  font-weight: 300;
}

.btn-primary {
  background-color:$primary;
}

//Don't display body until fontawesome icons have finished loading
.fontawesome-i2svg-pending body {
  display: none;
}

.fontawesome-i2svg-active body {
  display: initial;
}