$list_border_dotted: 1px dotted #000;

.list-tree {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  .li-indicator {
    border: 2px solid grey;
    color: grey;
    cursor:pointer;
  }
  li {
    list-style-type: none;
    //border-left: $list_border_dotted;
    margin-left: 2em;
    padding:.75em 1em;
    //margin:2em;
  }
  li .li-wrapper {
    padding-left: .5em;
    position: relative;
  }
  li .li-btn-group{
    display:inline-block;
    margin-left:.75em;
  }
  li .li-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    bottom: 50%;
    width: 1em;
    //border-left:$list_border_dotted;
    border-bottom: $list_border_dotted;
    //border-top: 0 none transparent;
    //border-right: 0 none transparent;
  }
  ul > li:last-child {
    border-left: $list_border_dotted;
  }
}